* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-style: italic;
}
body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, rgba(225,237,24,1) 16%, rgba(231,185,44,1) 82%);
}
.displayNone {
    display: none;
}
section {
    width: 100%;
    height: 100%;
}
/*.section_two {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%; 
}*/
.section__img-inner:nth-child(1) {
    animation: animateImg  5s linear 0s forwards;
    left: 18%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(2) {
    animation: animateImg  5s linear 0s forwards;
    left: 36%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(3) {
    animation: animateImg  5s linear 0s forwards;
    left: 54%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(4) {
    animation: animateImg  5s linear 0s forwards;
    left: 72%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(5) {
    animation: animateImg  5s linear 0s forwards;
    left: 93%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(6) {
    animation: animateImg  5s linear 0.5s forwards;
    left: 9%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(7) {
    animation: animateImg  5s linear 0.5s forwards;
    left: 27%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(8) {
    animation: animateImg  5s linear 0.5s forwards;
    left: 42%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(9) {
    animation: animateImg  5s linear 0.5s forwards;
    left: 62%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(10) {
    animation: animateImg  5s linear 0.5s forwards;
    left: 81%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(11) {
    animation: animateImg  5s linear 1s forwards;
    left: 18%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(12) {
    animation: animateImg  5s linear 1s forwards;
    left: 36%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(13) {
    animation: animateImg  5s linear 1s forwards;
    left: 54%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(14) {
    animation: animateImg  5s linear 1s forwards;
    left: 72%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(15) {
    animation: animateImg  5s linear 1s forwards;
    left: 93%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(16) {
    animation: animateImg  5s linear 1.5s forwards;
    left: 9%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(17) {
    animation: animateImg  5s linear 1.5s forwards;
    left: 27%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(18) {
    animation: animateImg  5s linear 1.5s forwards;
    left: 42%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(19) {
    animation: animateImg  5s linear 1.5s forwards;
    left: 62%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(20) {
    animation: animateImg  5s linear 1.5s forwards;
    left: 81%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(21) {
    animation: animateImg  5s linear 2s forwards;
    left: 18%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(22) {
    animation: animateImg  5s linear 2s forwards;
    left: 36%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(23) {
    animation: animateImg  5s linear 2s forwards;
    left: 54%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(24) {
    animation: animateImg  5s linear 2s forwards;
    left: 72%;
    transform: translateY(100vh);
}
.section__img-inner:nth-child(25) {
    animation: animateImg  5s linear 2s forwards;
    left: 93%;
    transform: translateY(100vh);
}
.section__img-inner {
    width: 23vw;
    height: 23vw;
    position: absolute;
    left: 0;
}
.section__img {
    width: 100%;
    height: 100%;
}
@keyframes animateImg {
    0% {
        opacity: 0;
        transform: translateY(100vh) rotate(30deg);
        z-index: 1;
    }
    20% {
        opacity: 1;
        transform: translateY(90vh) ;
        z-index: 1;
    }
    40% {
        transform: translateY(60vh) ;
        z-index: 1;
    }
    60% {
        transform: translateY(40vh) ;
        z-index: 1;
    }
    80% {
        transform: translateY(20vh) ;
        z-index: 1;
    }
    100% {
        transform: translateY(-80vh) rotate(360deg);
        z-index: 1;
    }
}
.section_bg {
    background: linear-gradient(45deg, rgba(225,237,24,1) 16%, rgba(231,185,44,1) 82%);
}
.set_content {
    width: 10vw;
    height: 10vw;
}
.set_content img {
    width: 100%;
    height: 100%;
}
.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.set div {
    position: absolute;
    display: block;
}
.set div:nth-child(1) {
    left: 20%;
    animation: heart 9s linear both infinite;
}
.set div:nth-child(2) {
    left: 90%;
    transform: translateY(100vh);
    animation: heart 9s linear 2s both infinite;
}
.set div:nth-child(3) {
    left: 45%;
    transform: translateY(100vh);
    animation: heart 9s linear 4s both infinite;
}
.set div:nth-child(4) {
    left: 80%;
    transform: translateY(100vh);
    animation: heart 9s linear 6s both infinite;
}
.set div:nth-child(5) {
    left: 0%;
    transform: translateY(100vh);
    animation: heart 9s linear 8s both infinite;
}
.set div:nth-child(6) {
    left: 5%;
    transform: translateY(100vh);
    animation: heart 9s linear 10s both infinite;
}
.set div:nth-child(7) {
    left: 15%;
    transform: translateY(100vh);
    animation: heart 9s linear 12s both infinite;
}
.set div:nth-child(8) {
    left: 35%;
    transform: translateY(100vh);
    animation: heart 9s linear 14s both infinite;
}
.set div:nth-child(9) {
    left: 70%;
    transform: translateY(100vh);
    animation: heart 9s linear 16s both infinite;
}
.set div:nth-child(10) {
    left: 52%;
    transform: translateY(100vh);
    animation: heart 9s linear 18s both infinite;
}
.set div:nth-child(11) {
    left: 62%;
    transform: translateY(100vh);
    animation: heart 9s linear 20s both infinite;
}
.set div:nth-child(12) {
    left: 25%;
    transform: translateY(100vh);
    animation: heart 9s linear 1s both infinite;
}
@keyframes heart {
    0% {
        opacity: 0;
        transform: translateY(100vh) rotate(0deg);
        z-index: 1;
    }
    20% {
        opacity: 1;
        transform: translateY(90vh) rotate(45deg);
        z-index: 1;
    }
    40% {
        transform: translateY(60vh) rotate(-30deg);
        z-index: 1;
    }
    60% {
        transform: translateY(40vh) rotate(45deg);
        z-index: 1;
    }
    80% {
        transform: translateY(20vh) rotate(-20deg);
        z-index: 1;
    }
    100% {
        transform: translateY(8vh) rotate(45deg);
        z-index: 1;
    }
}
.containner {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    overflow: hidden;
}
.test {
    background: radial-gradient(transparent, #f1a138);
    font-size: 100px;
    line-height: 1.5;
    text-align: center;
    transform: skew(10deg,10deg);
    animation: move2 3s ease-in-out forwards 2s;
}
.test:nth-child(1),
.test:nth-child(2),
.test:nth-child(3),
.test:nth-child(4),
.test:nth-child(5),
.test:nth-child(6),
.test:nth-child(7),
.test:nth-child(8),
.test:nth-child(9),
.test:nth-child(10),
.test:nth-child(11),
.test:nth-child(12),
.test:nth-child(13),
.test:nth-child(14),
.test:nth-child(15),
.test:nth-child(16),
.test:nth-child(17),
.test:nth-child(18),
.test:nth-child(19),
.test:nth-child(20) {
    animation: move1 3s ease-in-out forwards 2s;
}
@keyframes move1 {
    0% {
        transform: skew(10deg,10deg);
    }
    60% {
        transform: skew(44deg,44deg) translateX(0%);
    }
    100% {
        transform: skew(44deg,44deg) translateX(800%);
    }
}
@keyframes move2 {
    0% {
        transform: skew(10deg,10deg);
    }
    60% {
        transform: skew(44deg,44deg) translateX(0%);
    }
    100% {
        transform: skew(44deg,44deg) translateX(-800%);
    }
}
.main-text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.main-text h1 {
    text-align: center;
    font-size: 7vw;
    color: rgba(41, 131, 5, 0.842);
    text-shadow: 1px 1px 2px rgb(153, 180, 32), 0 0 5em rgb(4, 94, 79), 0 0 0.2em rgb(226, 223, 55);
    animation: text-transform 2s linear infinite;
}
@keyframes text-transform {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.circle {
    position: relative;
    width: 16vw;
    height: 16vw;
    position: absolute;
    background: rgb(225,237,24);
    background: linear-gradient(45deg, rgba(225,237,24,1) 16%, rgba(231,185,44,1) 82%);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(225,237,24,1);
    -moz-box-shadow:    0px 0px 30px 0px rgba(225,237,24,1);
    box-shadow:         0px 0px 30px 0px rgba(225,237,24,1);
    cursor: pointer;
}
.animate-circle1 {
    animation: circleMove1 12s linear forwards;
}
.animate-circle2 {
    animation: circleMove2 3s linear forwards;
}
.circle div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
}
.circle div p {
    text-align: center;
    font-size: 4vw;

} 
@keyframes circleMove1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(120);
    }
}  
@keyframes circleMove2 {
    0% {
        transform: translate(0vh), scale(120);
    }
    100% {
        transform: translate(150vh), scale(120);
    }
}
.box__img-inner {
    width: 10vw;
    height: 10vw;
    position: absolute;
    display: block;
}
.box__img {
    width: 100%;
    height: 100%;
}
.box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
} 
.box__img-inner:nth-child(1) {
    left: 20%;
    transform: translateY(100vh);
    animation: heart2 5s linear both infinite;
} 
.box__img-inner:nth-child(2) {
    left: 30%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 0.5s infinite;
} 
.box__img-inner:nth-child(3) {
    left: 40%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 1s infinite;
} 
.box__img-inner:nth-child(4) {
    left: 50%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 1.5s infinite;
} 
.box__img-inner:nth-child(5) {
    left: 60%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 2s infinite;
} 
.box__img-inner:nth-child(6) {
    left: 70%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 2.5s infinite;
} 
.box__img-inner:nth-child(7) {
    left: 80%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 1.5s infinite;
} 
.box__img-inner:nth-child(8) {
    left: 90%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 0.5s infinite;
} 
.box__img-inner:nth-child(9) {
    left: 10%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 2s infinite;
} 
.box__img-inner:nth-child(10) {
    left: 0%;
    transform: translateY(100vh);
    animation: heart2 5s linear both infinite;
} 
.box__img-inner:nth-child(11) {
    left: 35%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 2.5s infinite;
} 
.box__img-inner:nth-child(12) {
    left: 75%;
    transform: translateY(100vh);
    animation: heart2 5s linear both 1s infinite;
}

@keyframes heart2 {
    0% {
        opacity: 0;
        transform: translateY(0vh) rotate(0deg);
        z-index: 1;
    }
    20% {
        opacity: 1;
        transform: translateY(20vh) rotate(45deg);
        z-index: 1;
    }
    40% {
        transform: translateY(40vh) rotate(-30deg);
        z-index: 1;
    }
    60% {
        transform: translateY(60vh) rotate(45deg);
        z-index: 1;
    }
    80% {
        transform: translateY(80vh) rotate(-20deg);
        z-index: 1;
    }
    100% {
        transform: translateY(100vh) rotate(45deg);
        z-index: 1;
    }
}
